<%= render "shared/navbar" %>
<h1 class="text-center mt-3 mb-4">Show Page</h1>
<div class="container d-flex justify-content-center">
  <div class="card text-center" style="width: 18rem;">
    <% if @ticket.images.attached? %>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <% @ticket.images.each_with_index do |img, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= image_tag img,
                  class: "d-block w-100",
                  style: "height: 250px; object-fit: cover;" %>
            </div>
          <% end %>
        </div>
        <% if @ticket.images.count > 1 %>
          <button class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% end %>
      </div>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= @ticket.title %></h5>
      <p class="card-text">
        <%= @ticket.description %>
      </p>
      <p>
        <strong>Status:</strong>
        <%= @ticket.status %>
      </p>
      <p>
        <strong>Priority:</strong>
        <%= @ticket.priority %>
      </p>
      <%= link_to "Back to Tickets", tickets_path,
          class: "btn btn-primary btn-sm mx-2" %>
      <%= link_to "Edit Ticket", edit_ticket_path,
          class: "btn btn-outline-primary btn-sm" %>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="text-center mt-4 mb-3">Add Comment</h3>
  <%= form_with model: [@ticket, @comment] do |form| %>
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control" %>
    <%= form.submit "Add Comment", class: "btn btn-primary mt-2" %>
  <% end %>
  .
  <h3 class="mt-4">Comments</h3>
  <% @ticket.comments.each do |comment| %>
    <div class="card mb-2">
      <div class="card-body">
        <strong><%= comment.customer.email %></strong>
        <p><%= comment.content %></p>
      </div>
    </div>
  <% end %>
</div>
